<h1>Crear un pokemon</h1>

<form>

  <div class="form-group row">
    <label for="nombre" class="col-sm-2 col-form-label">Nombre</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="nombre" ng-model="vm.data.name">
    </div>
  </div>
  <div class="form-group row">
    <label for="descripcion" class="col-sm-2 col-form-label">Descripcion</label>
    <div class="col-sm-10">
      <textarea class="form-control" id="descripcion" ng-model="vm.data.description"></textarea>
    </div>
  </div>
  <div class="form-group row">
    <label for="tipo1" class="col-sm-2 col-form-label">Tipo 1</label>
    <div class="col-sm-10">
      <select class="form-control" id="tipo1" ng-model="vm.data.firstType">
        <option ng-repeat="type in vm.types">{{ type }}</option>
      </select>
    </div>
  </div>
  <div class="form-group row">
    <label for="tipo2" class="col-sm-2 col-form-label">Tipo 2</label>
    <div class="col-sm-10">
      <select class="form-control" id="tipo2" ng-model="vm.data.secondType">
        <option ng-repeat="type in vm.types">{{ type }}</option>
      </select>
    </div>
  </div>
  <div class="form-group row">
    <label for="evolvesTo" class="col-sm-2 col-form-label">Evoluciona a</label>
    <div class="col-sm-10">
      <select class="form-control" id="evolvesTo" ng-model="vm.data.evolvesTo">
        <option ng-value="pokemon" ng-repeat="pokemon in vm.pokemons">{{ pokemon.name }}</option>
      </select>
    </div>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="checkbox" id="favorito" ng-model="vm.data.favorite">
    <label class="form-check-label" for="favorito">Favorito</label>
  </div>
</form>

<hr>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <button type="button" class="btn btn-default btn-block" ng-click="vm.volver()">Cancelar</button>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <button type="button" class="btn btn-primary btn-block" ng-click="vm.guardar()">Guardar</button>
    </div>
  </div>
</div>
