
<div class="container">
  <h1>Pokemon manager</h1>

  <div class="table-responsive">
    <table class="table table-bordered table-hover table-striped">
      <thead>
      <tr>
        <th><a href="javascript:void(0)" ng-click="vm.setOrdrByColumn('id')">Id</a></th>
        <th><a href="javascript:void(0)" ng-click="vm.setOrdrByColumn('name')">Nombre</a></th>
        <th><a href="javascript:void(0)" ng-click="vm.setOrdrByColumn('firstType')">Tipo 1</a></th>
        <th><a href="javascript:void(0)" ng-click="vm.setOrdrByColumn('secondType')">Tipo 2</a></th>
        <th><a href="javascript:void(0)" ng-click="vm.setOrdrByColumn('isFavorite')">Favorito</a></th>
        <th>&nbsp;</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="item in vm.listado | orderBy: vm.orderBy: vm.reverse">
        <td>{{ item.id }}</td>
        <td>{{ item.name }}</td>
        <td>{{ item.firstType | capitalize }}</td>
        <td>{{ item.secondType | capitalize }}</td>
        <td>
          <button type="button" class="btn {{ item.favorite ? 'btn-warning': 'btn-default' }}" ng-class="" ng-click="vm.updateFavorite(item)">
            <span ng-if="! item.isFavorite" class="glyphicon glyphicon-star-empty"></span>
            <span ng-if="item.isFavorite" class="glyphicon glyphicon-star"></span>
          </button>
        </td>
        <td>
          <a ng-href="#!/editar-pokemon/{{ item.id }}" class="btn btn-default">Editar</a>
        </td>
      </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="6" align="center">
            <strong>{{ vm.itemsPerPage }}</strong> elementos de <strong>{{ vm.totalItems }} </strong>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>

  <ul uib-pagination total-items="vm.totalItems" max-size="vm.itemsPerPage" ng-model="vm.currentPage" ng-change="vm.pageChanged()"></ul>
